xfce4
atril
xubuntu
Code
create-next-app-nodejs
dconf
github-copilot
google-chrome
gtk-3.0
hexchat
libreoffice
Local
menus
mimeapps.list
Mousepad
nextjs-nodejs
plank
pulse
ristretto
Thunar
Trolltech.conf
update-notifier
user-dirs.dirs
user-dirs.locale
